@inject IDummyClient Dummy

<ContentView OnLoaded="HandleLoadedAsync">
    @if (user != null)
    {
        <StackLayout Padding="16" Spacing="15">

            <FlexLayout Direction="FlexDirection.Row"
                        HorizontalOptions="LayoutOptions.Fill"
                        AlignItems="FlexAlignItems.Center"
                        JustifyContent="FlexJustify.SpaceBetween">

                <StackLayout Orientation="StackOrientation.Horizontal" Spacing="15">

                    <Border HeightRequest="48" WidthRequest="48" StrokeColor="Colors.Transparent">
                        <StrokeShape>
                            <RoundRectangle CornerRadius="new(80, 80, 80, 80)" />
                        </StrokeShape>

                        <ChildContent>
                            <Image Aspect="Aspect.AspectFit"
                                   Source="@ImageSource.FromUri(new Uri(user.Image))"
                                   HeightRequest="48"
                                   WidthRequest="48"
                                   VerticalOptions="LayoutOptions.Center"
                                   HorizontalOptions="LayoutOptions.Center" />
                        </ChildContent>
                    </Border>

                    <Label FontSize="16" Opacity="0.5" VerticalOptions="LayoutOptions.Center">@user.Username</Label>
                </StackLayout>

                <MauiIcon Icon="@MaterialIcons.MoreVert" OnClickAnimationType="AnimationType.Fade" />
            </FlexLayout>

            <Label FontSize="20" FontAttributes="FontAttributes.Bold">@Post.Title</Label>
            <Label>@Post.Body</Label>

            <StackLayout Orientation="StackOrientation.Horizontal" Spacing="25">
                <MauiIcon Icon="@MaterialIcons.ThumbUp"
                          IconSize="18"
                          IconSuffixFontSize="18"
                          IconSuffix="@($"{Post.Reactions.Likes}")" />

                <MauiIcon Icon="@MaterialIcons.ThumbDown"
                          IconSize="18"
                          IconSuffixFontSize="18"
                          IconSuffix="@($"{Post.Reactions.Dislikes}")" />
            </StackLayout>
        </StackLayout>
    }
</ContentView>

@code
{
    [Parameter] public Post Post { get; set; } = default!;

    private User? user;

    private async Task HandleLoadedAsync()
    {
        using var response = await Dummy.GetUserAsync(Post.UserId);

        if (response.IsSuccessStatusCode)
        {
            user = response.Content;
        }
    }
}